services:
  frontend:
    build:
      context: ./frontend
    environment:
      - NUXT_PUBLIC_FRONTEND_HOST=${FRONTEND_HOST_EXTERNAL:-localhost}
      - NUXT_PUBLIC_FRONTEND_PORT=${FRONTEND_PORT_EXTERNAL:-80}
      - NUXT_PUBLIC_BACKEND_HOST=${BACKEND_HOST_EXTERNAL:-localhost}
      - NUXT_PUBLIC_BACKEND_PORT=${BACKEND_PORT_EXTERNAL:-8080}
      - NUXT_PUBLIC_HTTP_PROTOCOL=${HTTP_PROTOCOL:-http}
      - NUXT_PUBLIC_POSTS_PER_PAGE=${POSTS_PER_PAGE:-10}
      - NUXT_PUBLIC_USERNAME_LENGTH_LIMIT=${USERNAME_LENGTH_LIMIT:-30}
      - NUXT_PUBLIC_UPLOAD_COMMENT_LENGTH_LIMIT=${UPLOAD_COMMENT_LENGTH_LIMIT:-300}
      - NUXT_PUBLIC_FILESIZE_KB_LIMIT=${FILESIZE_KB_LIMIT:-200}
      - NUXT_PUBLIC_DELETE_PASSWORD_LENGTH_LIMIT=${DELETE_PASSWORD_LENGTH_LIMIT:-100}
      - NUXT_PUBLIC_OPTIONAL_TAG_LENGTH_LIMIT=${OPTIONAL_TAG_LENGTH_LIMIT:-20}
      - NUXT_PUBLIC_USERNAME_SHARE_LENGTH_LIMIT=${USERNAME_SHARE_LENGTH_LIMIT:-15}
      - NUXT_PUBLIC_UPLOAD_COMMENT_SHARE_LENGTH_LIMIT=${UPLOAD_COMMENT_SHARE_LENGTH_LIMIT:-35}
      - NUXT_PUBLIC_RECAPTCHA_SITEKEY=${RECAPTCHA_SITEKEY:-sitekey}
      - NUXT_PUBLIC_RECAPTCHA_ENABLED=${RECAPTCHA_ENABLED:-false}
    ports:
      # nuxt3の本番環境で動くnitroのデフォルトポートは3000
      - ${FRONTEND_PORT_INTERNAL:-80}:3000

  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT_INTERNAL:-8080}:5001"
    user: "10001:10001"
    volumes:
      - replays:/home/app/replays/
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-public}
      - POSTGRES_USER=${POSTGRES_USER:-adminuser}
      - POSTGRES_PASS=${POSTGRES_PASS:-adminpass}
      - POSTGRES_APP_USER=${POSTGRES_APP_USER:-appuser}
      - POSTGRES_APP_PASS=${POSTGRES_APP_PASS:-apppass}
      - POSTGRES_HOST=${POSTGRES_HOST:-postgresql}
      - POSTGRES_PORT=5432
      - STRETCH_NUMBER=${STRETCH_NUMBER:-666666}
      - HASH_PEPPER=${HASH_PEPPER:-hogehoge}
      - FRONTEND_HOST=${FRONTEND_HOST_EXTERNAL:-localhost}
      - FRONTEND_PORT=${FRONTEND_PORT_EXTERNAL:-8080}
      - ALLOW_DUPLICATE_POSTS=${ALLOW_DUPLICATE_POSTS:-false}
      - MONGO_HOST=${MONGO_HOST:-mongodb}
      - MONGO_PORT=27017
      - MONGO_APP_USER=${MONGO_APP_USER:-appuser}
      - MONGO_APP_PASS=${MONGO_APP_PASS:-apppass}
      - MONGO_DATABASE=${MONGO_DATABASE:-mongodb}
      - REDIS_HOST=${REDIS_HOST:-redis}
      - REDIS_PORT=6379
      - REDIS_USER=${REDIS_USER:-appuser}
      - REDIS_PASS=${REDIS_PASS:-apppass}
      - HTTP_PROTOCOL=${HTTP_PROTOCOL:-http}
      - ALLOW_FRONTEND_ORIGIN=${ALLOW_FRONTEND_ORIGIN:-http://localhost}
      - USE_REVERSE_PROXY=${USE_REVERSE_PROXY:-false}
      - USE_CLOUDFLARE_PROXY=${USE_CLOUDFLARE_PROXY:-false}
      - USERNAME_LENGTH_LIMIT=${USERNAME_LENGTH_LIMIT:-30}
      - UPLOAD_COMMENT_LENGTH_LIMIT=${UPLOAD_COMMENT_LENGTH_LIMIT:-300}
      - FILESIZE_KB_LIMIT=${FILESIZE_KB_LIMIT:-200}
      - DELETE_PASSWORD_LENGTH_LIMIT=${DELETE_PASSWORD_LENGTH_LIMIT:-100}
      - OPTIONAL_TAG_LENGTH_LIMIT=${OPTIONAL_TAG_LENGTH_LIMIT:-20}
      - PYTHONPATH=/app
      - RECAPTCHA_SECRET=${RECAPTCHA_SECRET:-secret}
      - RECAPTCHA_ENABLED=${RECAPTCHA_ENABLED:-false}
      - POSTS_PER_PAGE=${POSTS_PER_PAGE:-10}
      - MAX_PAGINATION_PAGES=${MAX_PAGINATION_PAGES:-100}
      - REPLAY_RATE_POST_WINDOW_SEC=${REPLAY_RATE_POST_WINDOW_SEC:-21600}
      - REPLAY_RATE_POST_MAX_REQUEST=${REPLAY_RATE_POST_MAX_REQUEST:-10}
      - REPLAY_RATE_DELETE_WINDOW_SEC=${REPLAY_RATE_DELETE_WINDOW_SEC:-300}
      - REPLAY_RATE_DELETE_MAX_REQUEST=${REPLAY_RATE_DELETE_MAX_REQUEST:-10}
      - CACHE_EXPIRE_SEC=${CACHE_EXPIRE_SEC:-300}
    tty: true

  postgresql:
    image: postgres:17
    container_name: ${POSTGRES_HOST:-postgresql}
    volumes:
      - postgresql_table:/var/lib/postgresql/data/
      - ./postgresql/init/:/docker-entrypoint-initdb.d/
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-public}
      - POSTGRES_USER=${POSTGRES_USER:-adminuser}
      - POSTGRES_PASSWORD=${POSTGRES_PASS:-adminpass}
      - POSTGRES_APP_USER=${POSTGRES_APP_USER:-appuser}
      - POSTGRES_APP_PASS=${POSTGRES_APP_PASS:-apppass}
    expose:
      - 5432

  mongodb:
    image: mongo:8.0.17
    container_name: ${MONGO_HOST:-mongodb}
    volumes:
      - mongodb_table:/data/db
      - mongodb_config:/data/configdb
      - ./mongo/init/:/docker-entrypoint-initdb.d/
    environment:
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE:-mongodb}
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER:-adminuser}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASS:-adminpass}
      - MONGO_APP_USER=${MONGO_APP_USER:-appuser}
      - MONGO_APP_PASS=${MONGO_APP_PASS:-apppass}
      - MONGO_DATABASE=${MONGO_DATABASE:-mongodb}
    expose:
      - 27017

  redis:
    build: ./redis
    container_name: ${REDIS_HOST:-redis}
    environment:
      - REDIS_USER=${REDIS_USER:-appuser}
      - REDIS_PASS=${REDIS_PASS:-apppass}
    expose:
      - 6379
    volumes:
      - redis_data:/data

volumes:
  postgresql_table:
  mongodb_table:
  mongodb_config:
  replays:
  redis_data:
